@use '../abstracts/index' as *;
.connect {
  padding: 5rem 10rem;
  min-height: 90vh;
  overflow: hidden;

  .line {
    margin-bottom: 4rem;
  }
  .container {
    // @include flex(flex-start, center, column);

    .social-media {
      @include flex(flex-start, flex-start, row);

      h3 {
        margin: 1rem 2rem;
      }
    }
  }
}
