@use '../abstracts/index' as *;

.slider {
  max-width: 70vw;
  max-height: 70vh;
  position: relative;
  img {
    max-height: 700px;
    object-fit: contain;
  }
  .caption {
    position: absolute;
    top: 85%;
    left: 50%;
    opacity: 0.8;
    transform: translateX(-50%);
    background-color: $nav-color;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
  }
}
.project-section {
  @include flex(center, center, column);
  // width: 90%;
}
.project-details {
  @include flex(center, center, column);
  width: 90vw;

  .title {
    margin-top: 1rem;
    // color: $accent-color;
  }
  .abstract {
    padding: 2rem 2rem;
    background-color: $nav-color;
  }
  .container {
    margin-top: 1.5rem;
    @include flex(flex-start, flex-start, row);
  }
  .info {
    margin: 0rem 2rem;
  }
  .project-btns {
    @include flex(flex-start, center, column);

    .project-btn {
      margin: 1rem;
    }
  }
}

.tech-container,
.project-description {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: $nav-color;
  width: 30rem;
  .tech {
    @include flex(flex-start, flex-start, row);
    .icon {
      color: $accent-color;
    }
    p {
      padding-left: 1rem;
    }
  }
}

.further-info {
  margin-top: 2.5rem;
  width: 100%;
}
.line {
  height: 0.5rem;
  margin: 1rem 0rem;
  background-color: $accent-color;
  width: 100%;
}
// .project-details {
//   position: relative;
//   .splash {
//     min-height: 90vh;
//     padding-top: 20vh;
//     position: relative;
//     h2 {
//       position: absolute;
//       top: 10%;
//       left: 50%;
//       transform: translate(-50%, -10%);
//       z-index: 2;
//     }
//     img {
//       position: absolute;
//       width: 100%;
//       height: 70vh;
//       top: 0;
//       left: 0;
//       z-index: 1;
//       object-fit: cover;
//     }
//   }
//   .testimonies {
//     @include flex(space-evenly, center, row);
//     position: absolute;
//     z-index: 2;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -20%);

//     .testimony {
//       @include flex(flex-start, center, column);
//       background-color: $box-color;
//       height: 25rem;
//       border-radius: 2rem;
//       margin: 0rem 5rem;
//       padding: 2rem;
//       width: 40rem;
//       p {
//         color: $text-color;
//         padding: 2rem 0rem;
//       }
//     }
// }
//   .image-display {
//     min-height: 50vh;
//     position: relative;
//     @include flex(center, center, column);
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//     .description-box {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -20%);
//       min-height: 30rem;
//       min-width: 40rem;
//       border-radius: 2rem;
//       margin: 0rem 5rem;
//       padding: 2rem;
//       background-color: $box-color;
//     }
//   }
// }
