@use '../abstracts/index' as *;

.slider {
  max-width: 70vw;
  max-height: 70vh;
  position: relative;
  img {
    max-height: 700px;
    object-fit: contain;
  }
  .caption {
    position: absolute;
    top: 85%;
    left: 50%;
    opacity: 0.8;
    transform: translateX(-50%);
    background-color: $nav-color;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
  }
}
.project-section {
  @include flex(center, center, column);
}
.project-details {
  @include flex(center, center, column);
  width: 90vw;

  .title {
    margin-top: 1rem;
  }
  .abstract {
    padding: 2rem 2rem;
    background-color: $nav-color;
  }
  .container {
    margin-top: 1.5rem;
    @include flex(flex-start, flex-start, row);
  }
  .info {
    margin: 0rem 2rem;
  }
  .project-btns {
    @include flex(center, center, column);

    .project-btn {
      margin: 1rem 0rem;
    }
  }
}

.tech-container,
.project-description {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: $nav-color;
  width: 30rem;
  .tech {
    @include flex(flex-start, flex-start, row);
    .icon {
      color: $accent-color;
    }
    p {
      padding-left: 1rem;
    }
  }
}

.further-info {
  margin-top: 2.5rem;
  width: 100%;
}
.line {
  height: 0.5rem;
  margin: 1rem 0rem;
  background: $accent-color;
  width: 100%;
}
